<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Digital Coffee Club</title>
    <link rel="stylesheet" href="/static/style.css">

    <header>
        <h1>Starbucks Digital Coffee Club</h1>
    </header>

    <nav style="text-align: center;">
        <a href="/">Home</a>
        <a href="/contact-us">Contact</a>
        <a href="/coffeestory">Coffee Story</a>
        <a href="/login">Login</a>
        <a href="/sign-up">Sign Up</a>
    </nav>

</head>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px; 
        padding: 15px; 
    }
    section { 
        background-color: #e0f7e0;
        padding:80px;
        border-radius:10px;
    }
</style>
<body>
    <section style="text-align: center;">
        <h2>Coffee Story</h2>
    </section>
    <div class="grid-container">
        <section id="Americano">
            <img src="{{url_for('static',filename='teaser-americano-macro-389x280.png')}}" align="left" alt="Americano Image" style="max-width: 100%; height: auto;">
            <h3 style="text-align:center;">Americano</h3>
            <p>Our intense signature espresso softened with hot water. That's it. Enjoy it straight up, or add a splash of milk, it's up to you.</p>
        </section>
        <section id="Cappuccino">
            <img src="{{url_for('static',filename='teaser-cappuccino-macro-389x280.png')}}" align="left" alt="Cappuccino Image" style="max-width: 100%; height: auto;">
            <h3 style="text-align:center;">Cappuccino</h3>
            <p>A special treat made out of intense espresso, foamed milk and decadent chocolate dusting, if that's how you like it. Enjoy it hot or ice cold.</p>
        </section>
        <section id="Cortado">
            <img src="{{url_for('static',filename='teaser-cortado-macro-389x280.png')}}" align="left" alt="Cortado Image" style="max-width: 100%; height: auto;">
            <h3 style="text-align:center;">Cortado</h3>
            <p>It all starts with the purest essence of espresso and textured milk. We even sign it off with a little heart, from us to you.</p>
        </section>
        <section id="Espresso">
            <img src="{{url_for('static',filename='teaser-espresso-macro-389x280.png')}}" align="left" alt="Espresso Image" style="max-width: 100%; height: auto;">
            <h3 style="text-align:center;">Espresso</h3>
            <p>The heartbeat of all our coffees. It begins with our Espresso. We craft one simple shot of our intense roast for the most elegant of drinks.</p>
        </section>
        <section id="Flatwhite">
            <img src="{{url_for('static',filename='teaser-flatwhite-macro-389x280.png')}}" align="left" alt="Flatwhite Image" style="max-width: 100%; height: auto;">
            <h3 style="text-align:center;">Flatwhite</h3>
            <p>An expert combination of rich espresso and velvety milk, signed off with a beautiful florette handcrafted by your barista.</p>
        </section>
        <section id="Latte">
            <img src="{{url_for('static',filename='teaser-latte-macro-389x280.png')}}" align="left" alt="Latte Image" style="max-width: 100%; height: auto;">
            <h3 style="text-align:center;">Latte</h3>
            <p>We combine our signature espresso with a creamy milk or dairy alternative of your choice for the ideal drink to sip when it's served hot or cold.</p>
        </section>
    </div>
</body>
<footer>
    <p>&copy; 2023 Starbucks. All rights reserved.</p>
</footer>