<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/style.css">
    <header>
        <h1>Starbucks Digital Coffee Club</h1>
    </header>
    <nav style="text-align: center;">
        <a href="/">Home</a>
        <a href="/contact-us">Contact</a>
        <a href="/coffeestory">CoffeeStory</a>
        <a href="/login">Login</a>
        <a href="/sign-up">Sign Up</a>
    </nav>

    <footer>
        <p>&copy; 2023 Starbucks. All rights reserved.</p>
    </footer>
</head>

<body>

    <div class="signup-container">
        <h2>Sign Up</h2>
        <form id="registrationForm" onsubmit="registerUser(event)">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Register</button>
        </form>
        <p id="message"></p>
    </div>
    <script src="script.js"></script>
</body>

</html>

